In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.DataFrame(
    {
        "close": [1, 2, 9, 2, 4, 7, 5, 2, 1, 7, 6, 9]
    }
)

In [4]:
lenght = 3
df["shift1"] = df.close.shift(lenght+1)

In [6]:
df["shift-1"] = df.close.shift(lenght-1)

In [10]:
df["s_yLoc"] = df.close.shift(lenght + 1).where(df.close.shift(lenght + 1) > df.close.shift(lenght - 1), df.close.shift(lenght - 1))

In [12]:
df["pl"] = df.close.rolling(window=lenght*2+1).min()
df["ph"] = df.close.rolling(window=lenght*2+1).max()

In [14]:
df['support_level'] = df["pl"].diff().where(df["pl"].diff().notna())
df['resistance_level'] = df["ph"].diff().where(df["ph"].diff().notna())

In [16]:
df['support_level'] = df['support_level'].combine_first(df['support_level'].shift())

In [17]:
df

    close  shift1  shift-1  s_yLoc   pl   ph  support_level  resistance_level
0       1     NaN      NaN     NaN  NaN  NaN            NaN               NaN
1       2     NaN      NaN     NaN  NaN  NaN            NaN               NaN
2       9     NaN      1.0     1.0  NaN  NaN            NaN               NaN
3       2     NaN      2.0     2.0  NaN  NaN            NaN               NaN
4       4     1.0      9.0     9.0  NaN  NaN            NaN               NaN
5       7     2.0      2.0     2.0  NaN  NaN            NaN               NaN
6       5     9.0      4.0     9.0  1.0  9.0            NaN               NaN
7       2     2.0      7.0     7.0  2.0  9.0            1.0               0.0
8       1     4.0      5.0     5.0  1.0  9.0           -1.0               0.0
9       7     7.0      2.0     7.0  1.0  7.0            0.0              -2.0
10      6     5.0      1.0     5.0  1.0  7.0            0.0               0.0
11      9     2.0      7.0     7.0  1.0  9.0            0.0               2.0