In [1]:
import pandas as pd

In [3]:
df = pd.read_csv(r"D:\rl\alpha-rptr\ohlc\binance_futures\BTCUSDT\['15m']\data.csv", parse_dates=["time"], index_col="time")
df = df.tz_localize(None)
df = df.rename(columns={"time": "date"})

In [4]:
df

                        open     high      low    close     volume
time
2023-04-13 04:15:00  30057.2  30070.0  30029.6  30060.8   1563.938
2023-04-13 04:30:00  30060.8  30089.5  30047.2  30077.4   1294.678
2023-04-13 04:45:00  30077.0  30097.0  30033.5  30045.9   1933.793
2023-04-13 05:00:00  30046.0  30065.7  30031.5  30038.7   1055.751
2023-04-13 05:15:00  30038.7  30067.0  30025.4  30025.5   1019.455
...                      ...      ...      ...      ...        ...
2023-05-24 07:00:00  26734.2  26734.2  26566.5  26699.9  10417.356
2023-05-24 07:15:00  26700.0  26749.5  26673.3  26747.9   6405.009
2023-05-24 07:30:00  26748.0  26748.0  26669.0  26699.5   3939.648
2023-05-24 07:45:00  26699.4  26706.8  26650.5  26689.9   3817.344
2023-05-24 08:00:00  26690.0  26691.1  26672.0  26674.9    693.857

[3952 rows x 5 columns]

In [5]:
import pandas_ta as ta

In [6]:
CustomStrategy = ta.Strategy(
    name="Momo and Volatility",
    description="SMA 50,200, BBANDS, RSI, MACD and Volume SMA 20",
    ta=[
        {"kind": "dpo", "prefix": "aheadfeature"},
        {"kind": "dpo", "prefix": "feature"},
    ]
)

In [7]:
df.ta.cores = 0
df.ta.strategy(CustomStrategy)

In [8]:
df

,open,high,low,close,volume,feature_DPO_20
time,,,,,,
2023-04-13 04:15:00,30057.2,30070.0,30029.6,30060.8,1563.938,NaN
2023-04-13 04:30:00,30060.8,30089.5,30047.2,30077.4,1294.678,NaN
2023-04-13 04:45:00,30077.0,30097.0,30033.5,30045.9,1933.793,NaN
2023-04-13 05:00:00,30046.0,30065.7,30031.5,30038.7,1055.751,NaN
2023-04-13 05:15:00,30038.7,30067.0,30025.4,30025.5,1019.455,NaN
...,...,...,...,...,...,...
2023-05-24 07:00:00,26734.2,26734.2,26566.5,26699.9,10417.356,NaN
2023-05-24 07:15:00,26700.0,26749.5,26673.3,26747.9,6405.009,NaN
2023-05-24 07:30:00,26748.0,26748.0,26669.0,26699.5,3939.648,NaN
2023-05-24 07:45:00,26699.4,26706.8,26650.5,26689.9,3817.344,NaN
2023-05-24 08:00:00,26690.0,26691.1,26672.0,26674.9,693.857,NaN

In [9]:
df.ta.dpo()

time
2023-04-13 04:15:00   NaN
2023-04-13 04:30:00   NaN
2023-04-13 04:45:00   NaN
2023-04-13 05:00:00   NaN
2023-04-13 05:15:00   NaN
                       ..
2023-05-24 07:00:00   NaN
2023-05-24 07:15:00   NaN
2023-05-24 07:30:00   NaN
2023-05-24 07:45:00   NaN
2023-05-24 08:00:00   NaN
Name: DPO_20, Length: 3952, dtype: float64

In [10]:
help(ta.dpo)

Help on function dpo in module pandas_ta.trend.dpo:

dpo(close, length=None, centered=True, offset=None, **kwargs)
    Detrend Price Oscillator (DPO)

    Is an indicator designed to remove trend from price and make it easier to
    identify cycles.

    Sources:
        https://www.tradingview.com/scripts/detrendedpriceoscillator/
        https://www.fidelity.com/learning-center/trading-investing/technical-analysis/technical-indicator-guide/dpo
        http://stockcharts.com/school/doku.php?id=chart_school:technical_indicators:detrended_price_osci

    Calculation:
        Default Inputs:
            length=20, centered=True
        SMA = Simple Moving Average
        t = int(0.5 * length) + 1

        DPO = close.shift(t) - SMA(close, length)
        if centered:
            DPO = DPO.shift(-t)

    Args:
        close (pd.Series): Series of 'close's
        length (int): It's period. Default: 1
        centered (bool): Shift the dpo back by int(0.5 * length) + 1. Default: True
        offset (int): How many periods to offset the result. Default: 0

    Kwargs:
        fillna (value, optional): pd.DataFrame.fillna(value)
        fill_method (value, optional): Type of fill method

    Returns:
        pd.Series: New feature generated.

In [11]:
df["close_shift1"] = df.close.shift(11)

In [13]:
df["close_ma20"] = df.ta.sma(20)

In [15]:
df["dpo"] = df["close_shift1"]-df["close_ma20"]

In [16]:
df

,open,high,low,close,volume,feature_DPO_20,close_shift1,close_ma20,dpo
time,,,,,,,,,
2023-04-13 04:15:00,30057.2,30070.0,30029.6,30060.8,1563.938,NaN,NaN,NaN,NaN
2023-04-13 04:30:00,30060.8,30089.5,30047.2,30077.4,1294.678,NaN,NaN,NaN,NaN
2023-04-13 04:45:00,30077.0,30097.0,30033.5,30045.9,1933.793,NaN,NaN,NaN,NaN
2023-04-13 05:00:00,30046.0,30065.7,30031.5,30038.7,1055.751,NaN,NaN,NaN,NaN
2023-04-13 05:15:00,30038.7,30067.0,30025.4,30025.5,1019.455,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...
2023-05-24 07:00:00,26734.2,26734.2,26566.5,26699.9,10417.356,NaN,26701.2,26857.170,-155.970
2023-05-24 07:15:00,26700.0,26749.5,26673.3,26747.9,6405.009,NaN,26748.1,26837.060,-88.960
2023-05-24 07:30:00,26748.0,26748.0,26669.0,26699.5,3939.648,NaN,26774.5,26814.245,-39.745
2023-05-24 07:45:00,26699.4,26706.8,26650.5,26689.9,3817.344,NaN,26791.3,26791.145,0.155
2023-05-24 08:00:00,26690.0,26691.1,26672.0,26674.9,693.857,NaN,26795.1,26767.230,27.870