In [2]:
import os
import pandas as pd
import numpy as np

In [1]:


from pandas_ta.statistics import zscore
from custom_indicators import pa, pullback, smi, sr


windows_size = 50

def load_data():
    df = pd.read_csv(r"D:\rl\alpha-rptr\ohlc\binance_futures\BTCUSDT\['15m']\data.csv", parse_dates=["time"], index_col="time")
    df=df.tz_localize(None)
    df = df.rename(columns={"time": "date"})
    df.sort_index(inplace=True)
    df.dropna(inplace=True)
    df.drop_duplicates(inplace=True)

    df["feature_return_close"] = df["close"].pct_change()
    df["feature_diff_open"] = df["open"] / df["close"]
    df["feature_diff_high"] = df["high"] / df["close"]
    df["feature_diff_low"] = df["low"] / df["close"]
    df["feature_diff_volume"] = df["volume"] / df["volume"].rolling(7 * 24).max()
    df['feature_z_close'] = zscore(df['close'], length=windows_size )
    df['feature_z_open'] = zscore(df['open'], length=windows_size )
    df['feature_z_high'] = zscore(df['high'], length=windows_size )
    df['feature_z_low'] = zscore(df['low'], length=windows_size )
    df['feature_z_volume'] = zscore(df['volume'], length=windows_size )
    df = pa.pinbar(df)
    pullback.detect_pullback(df)
    smi.smi_trend(df)
    sr.support_resistance(df)

    df.dropna(inplace=True)
    return df

In [2]:
df = load_data()

In [3]:
df

,open,high,low,close,volume,feature_return_close,feature_diff_open,feature_diff_high,feature_diff_low,feature_diff_volume,...,feature_pinbar_ma30,feature_pinbar_ma15,feature_pinbar_ma7,feature_pb_stdev_outlier,feature_pb_pct_change,feature_pb_pct_outlier,feature_pb_candle_body,feature_smi,feature_support,feature_resistance
time,,,,,,,,,,,,,,,,,,,,,
2023-04-14 22:00:00,30461.1,30493.2,30386.6,30431.8,3080.534,-0.000959,1.000963,1.002018,0.998515,0.071887,...,1.003698,1.002475,0.999656,-0.447545,-0.000959,-0.369592,-0.274859,1.063414,1.016936,0.979806
2023-04-14 22:15:00,30431.8,30434.2,30392.0,30430.8,904.665,-0.000033,1.000033,1.000112,0.998725,0.021111,...,1.003840,1.002233,0.999543,-0.015290,-0.000033,0.064148,-0.023697,0.970515,1.016902,0.982837
2023-04-14 22:30:00,30410.7,30423.6,30390.0,30407.2,1491.795,-0.000776,1.000115,1.000539,0.999434,0.034812,...,1.003257,1.001152,0.999073,-0.360865,-0.000776,-0.271737,-0.104167,0.811587,1.016114,0.982075
2023-04-14 22:45:00,30407.2,30438.0,30400.0,30410.8,1418.447,0.000118,0.999882,1.000894,0.999645,0.033101,...,1.003378,1.000941,0.999280,0.054928,0.000118,0.063004,0.094737,0.564233,1.016234,0.982975
2023-04-14 23:00:00,30410.7,30437.1,30395.0,30416.2,1238.588,0.000178,0.999819,1.000687,0.999303,0.028903,...,1.003348,1.000649,0.999546,0.094314,0.000178,-0.020856,0.130641,0.298362,1.016414,0.986258
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023-05-24 07:00:00,26734.2,26734.2,26566.5,26699.9,10417.356,-0.001283,1.001285,1.001285,0.995004,0.264256,...,0.990186,0.997649,0.998299,-0.606057,-0.001283,-0.313836,-0.204532,0.534989,1.005021,0.977224
2023-05-24 07:15:00,26700.0,26749.5,26673.3,26747.9,6405.009,0.001798,0.998209,1.000060,0.997211,0.162475,...,0.992536,0.999858,1.000423,0.852705,0.001798,1.170799,0.628609,-0.231110,1.006828,0.979081
2023-05-24 07:30:00,26748.0,26748.0,26669.0,26699.5,3939.648,-0.001809,1.001817,1.001817,0.998858,0.099937,...,0.991365,0.998124,0.998908,-0.852295,-0.001809,-0.580400,-0.613924,-0.624118,1.005006,0.978100
2023-05-24 07:45:00,26699.4,26706.8,26650.5,26689.9,3817.344,-0.000360,1.000356,1.000633,0.998524,0.096834,...,0.991629,0.997964,0.998935,-0.166977,-0.000360,0.129175,-0.168739,-0.753270,1.004645,0.978139
2023-05-24 08:00:00,26690.0,26691.1,26672.0,26674.9,693.857,-0.000562,1.000566,1.000607,0.999891,0.017601,...,0.991727,0.997468,0.998652,-0.261091,-0.000562,0.047633,-0.790576,-1.044879,1.004080,0.978310

In [3]:
df = pd.read_csv(r"D:\rl\alpha-rptr\ohlc\binance_futures\BTCUSDT\['15m']\data.csv", parse_dates=["time"], index_col="time")
df=df.tz_localize(None)
df = df.rename(columns={"time": "date"})
df.sort_index(inplace=True)
df.dropna(inplace=True)
df.drop_duplicates(inplace=True)

In [9]:
df

                        open     high      low    close     volume
time
2023-04-13 04:15:00  30057.2  30070.0  30029.6  30060.8   1563.938
2023-04-13 04:30:00  30060.8  30089.5  30047.2  30077.4   1294.678
2023-04-13 04:45:00  30077.0  30097.0  30033.5  30045.9   1933.793
2023-04-13 05:00:00  30046.0  30065.7  30031.5  30038.7   1055.751
2023-04-13 05:15:00  30038.7  30067.0  30025.4  30025.5   1019.455
...                      ...      ...      ...      ...        ...
2023-05-24 07:00:00  26734.2  26734.2  26566.5  26699.9  10417.356
2023-05-24 07:15:00  26700.0  26749.5  26673.3  26747.9   6405.009
2023-05-24 07:30:00  26748.0  26748.0  26669.0  26699.5   3939.648
2023-05-24 07:45:00  26699.4  26706.8  26650.5  26689.9   3817.344
2023-05-24 08:00:00  26690.0  26691.1  26672.0  26674.9    693.857

[3952 rows x 5 columns]

In [4]:
df['ma7'] = df['close'].rolling(7).mean()

In [5]:
df['ma15'] = df['close'].rolling(15).mean()

In [6]:
df['ma7-close'] = df['ma7']/df['close']
df['ma15-close'] = df['ma15']/df['close']
df['ma7-15'] = df['ma7']/df['ma15']

In [13]:
df

,open,high,low,close,volume,ma7,ma15,ma7-close,ma15-close,ma7-15
time,,,,,,,,,,
2023-04-13 04:15:00,30057.2,30070.0,30029.6,30060.8,1563.938,NaN,NaN,NaN,NaN,NaN
2023-04-13 04:30:00,30060.8,30089.5,30047.2,30077.4,1294.678,NaN,NaN,NaN,NaN,NaN
2023-04-13 04:45:00,30077.0,30097.0,30033.5,30045.9,1933.793,NaN,NaN,NaN,NaN,NaN
2023-04-13 05:00:00,30046.0,30065.7,30031.5,30038.7,1055.751,NaN,NaN,NaN,NaN,NaN
2023-04-13 05:15:00,30038.7,30067.0,30025.4,30025.5,1019.455,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
2023-05-24 07:00:00,26734.2,26734.2,26566.5,26699.9,10417.356,26745.400000,26762.806667,1.001704,1.002356,0.999350
2023-05-24 07:15:00,26700.0,26749.5,26673.3,26747.9,6405.009,26736.600000,26751.700000,0.999578,1.000142,0.999436
2023-05-24 07:30:00,26748.0,26748.0,26669.0,26699.5,3939.648,26728.685714,26749.693333,1.001093,1.001880,0.999215
2023-05-24 07:45:00,26699.4,26706.8,26650.5,26689.9,3817.344,26718.342857,26744.353333,1.001066,1.002040,0.999027
2023-05-24 08:00:00,26690.0,26691.1,26672.0,26674.9,693.857,26710.900000,26742.600000,1.001350,1.002538,0.998815

In [8]:
from custom_indicators import pa, pullback, smi, sr

In [9]:
df = sr.exhaustion_bars(df)

In [10]:
df

,open,high,low,close,volume,ma7,ma15,ma7-close,ma15-close,ma7-15,leledc_major,leledc_minor
time,,,,,,,,,,,,
2023-04-13 04:15:00,30057.2,30070.0,30029.6,30060.8,1563.938,NaN,NaN,NaN,NaN,NaN,NaN,0.0
2023-04-13 04:30:00,30060.8,30089.5,30047.2,30077.4,1294.678,NaN,NaN,NaN,NaN,NaN,NaN,0.0
2023-04-13 04:45:00,30077.0,30097.0,30033.5,30045.9,1933.793,NaN,NaN,NaN,NaN,NaN,NaN,0.0
2023-04-13 05:00:00,30046.0,30065.7,30031.5,30038.7,1055.751,NaN,NaN,NaN,NaN,NaN,NaN,0.0
2023-04-13 05:15:00,30038.7,30067.0,30025.4,30025.5,1019.455,NaN,NaN,NaN,NaN,NaN,NaN,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...
2023-05-24 07:00:00,26734.2,26734.2,26566.5,26699.9,10417.356,26745.400000,26762.806667,1.001704,1.002356,0.999350,-1.0,0.0
2023-05-24 07:15:00,26700.0,26749.5,26673.3,26747.9,6405.009,26736.600000,26751.700000,0.999578,1.000142,0.999436,-1.0,0.0
2023-05-24 07:30:00,26748.0,26748.0,26669.0,26699.5,3939.648,26728.685714,26749.693333,1.001093,1.001880,0.999215,-1.0,0.0
2023-05-24 07:45:00,26699.4,26706.8,26650.5,26689.9,3817.344,26718.342857,26744.353333,1.001066,1.002040,0.999027,-1.0,0.0
2023-05-24 08:00:00,26690.0,26691.1,26672.0,26674.9,693.857,26710.900000,26742.600000,1.001350,1.002538,0.998815,-1.0,0.0

In [1]:
def reward_sortino_function(history):
    returns = pd.Series(history["portfolio_valuation"][-(windows_size+1):]).pct_change().dropna()
    downside_returns = returns.copy()
    downside_returns[returns < 0] = returns ** 2
    expected_return = returns.mean()
    downside_std = np.sqrt(np.std(downside_returns))
    if downside_std == 0 :
        return 0
    return (expected_return + 1E-9) / (downside_std + 1E-9)

def reward_sortino_functionv2(history):
    returns = pd.Series(history["portfolio_valuation"][-(windows_size+1):]).pct_change().dropna()
    downside_returns = returns.copy()
    downside_returns = downside_returns[returns < 0]
    downside_returns = downside_returns ** 2
    expected_return = returns.mean()
    downside_std = np.sqrt(np.std(downside_returns))
    if downside_std == 0 :
        return 0
    return (expected_return + 1E-9) / (downside_std + 1E-9)

In [2]:
import pandas as pd

In [3]:
returns = pd.Series([1.2 , 1.1, 1.1 , 1.3, 1.4, 1.5, 1.3])

In [6]:
returns = returns.pct_change().dropna()

In [7]:
returns

1   -0.083333
2    0.000000
3    0.181818
4    0.076923
5    0.071429
6   -0.133333
dtype: float64

In [8]:
downside_returns = returns.copy()

In [9]:
downside_returns[returns < 0] = returns ** 2

In [10]:
downside_returns

1    0.006944
2    0.000000
3    0.181818
4    0.076923
5    0.071429
6    0.017778
dtype: float64

In [12]:
import numpy as np
expected_return = returns.mean()
downside_std = np.sqrt(np.std(downside_returns))

(expected_return + 1E-9) / (downside_std + 1E-9)

0.07565874864612701