In [2]:
import pandas as pd

In [3]:
def load_data():
    df = pd.read_csv(r"D:\rl\alpha-rptr\ohlc\binance_futures\BTCUSDT\['15m']\data.csv", parse_dates=["time"], index_col="time")
    df=df.tz_localize(None)
    df = df.rename(columns={"time": "date"})
    df.sort_index(inplace=True)
    df.dropna(inplace=True)
    df.drop_duplicates(inplace=True)
    return df

In [3]:
df = load_data()

In [4]:
df.tail(10)

                        open     high      low    close     volume
time
2023-05-24 05:45:00  26809.5  26810.0  26729.6  26754.9   5063.715
2023-05-24 06:00:00  26754.8  26764.0  26708.4  26762.3   3060.441
2023-05-24 06:15:00  26762.3  26762.3  26708.3  26727.0   2994.778
2023-05-24 06:30:00  26727.0  26746.8  26708.3  26730.0   2684.339
2023-05-24 06:45:00  26730.0  26750.6  26705.4  26734.2   2570.397
2023-05-24 07:00:00  26734.2  26734.2  26566.5  26699.9  10417.356
2023-05-24 07:15:00  26700.0  26749.5  26673.3  26747.9   6405.009
2023-05-24 07:30:00  26748.0  26748.0  26669.0  26699.5   3939.648
2023-05-24 07:45:00  26699.4  26706.8  26650.5  26689.9   3817.344
2023-05-24 08:00:00  26690.0  26691.1  26672.0  26674.9    693.857

In [5]:
from custom_indicators import normalization

In [6]:
df = normalization.highlow_ochlv(df,  windows_size = 100)
df.tail(10)

,open,high,low,close,volume,feature_highlow_open,feature_highlow_low,feature_highlow_high,feature_highlow_close,feature_highlow_volume
time,,,,,,,,,,
2023-05-24 05:45:00,26809.5,26810.0,26729.6,26754.9,5063.715,0.187139,0.096683,0.187705,0.125325,0.119547
2023-05-24 06:00:00,26754.8,26764.0,26708.4,26762.3,3060.441,0.125212,0.072682,0.135628,0.133703,0.068211
2023-05-24 06:15:00,26762.3,26762.3,26708.3,26727.0,2994.778,0.133703,0.072569,0.133703,0.093739,0.066528
2023-05-24 06:30:00,26727.0,26746.8,26708.3,26730.0,2684.339,0.104099,0.080588,0.128992,0.107870,0.058573
2023-05-24 06:45:00,26730.0,26750.6,26705.4,26734.2,2570.397,0.107870,0.076942,0.133769,0.113151,0.055653
2023-05-24 07:00:00,26734.2,26734.2,26566.5,26699.9,10417.356,0.196900,0.000000,0.196900,0.156628,0.256739
2023-05-24 07:15:00,26700.0,26749.5,26673.3,26747.9,6405.009,0.160168,0.128134,0.219556,0.217636,0.153919
2023-05-24 07:30:00,26748.0,26748.0,26669.0,26699.5,3939.648,0.222290,0.125536,0.222290,0.162890,0.090741
2023-05-24 07:45:00,26699.4,26706.8,26650.5,26689.9,3817.344,0.162768,0.102878,0.171831,0.151133,0.087607
2023-05-24 08:00:00,26690.0,26691.1,26672.0,26674.9,693.857,0.151255,0.129210,0.152603,0.132762,0.007564

In [7]:
df = normalization.highlow_ochlv(df,  windows_size = 10)
df.tail(100)

,open,high,low,close,volume,feature_highlow_open,feature_highlow_low,feature_highlow_high,feature_highlow_close,feature_highlow_volume
time,,,,,,,,,,
2023-05-23 07:15:00,27284.5,27301.2,27270.6,27275.3,3306.280,0.054107,0.000000,0.119112,0.018295,0.038881
2023-05-23 07:30:00,27275.3,27319.9,27246.0,27247.7,4640.963,0.104085,0.000000,0.262522,0.006039,0.220014
2023-05-23 07:45:00,27247.8,27254.7,27202.2,27254.6,3402.700,0.140178,0.000000,0.161389,0.161082,0.051966
2023-05-23 08:00:00,27276.9,27312.6,27242.5,27295.8,3171.947,0.314659,0.169756,0.465038,0.394271,0.021607
2023-05-23 08:15:00,27295.8,27319.0,27250.6,27268.3,3149.699,0.394271,0.203875,0.491997,0.278433,0.018448
...,...,...,...,...,...,...,...,...,...,...
2023-05-24 07:00:00,26734.2,26734.2,26566.5,26699.9,10417.356,0.688706,0.000000,0.688706,0.547844,1.000000
2023-05-24 07:15:00,26700.0,26749.5,26673.3,26747.9,6405.009,0.548255,0.438604,0.751540,0.744969,0.488675
2023-05-24 07:30:00,26748.0,26748.0,26669.0,26699.5,3939.648,0.745380,0.420945,0.745380,0.546201,0.174494
2023-05-24 07:45:00,26699.4,26706.8,26650.5,26689.9,3817.344,0.545791,0.344969,0.576181,0.506776,0.158908
2023-05-24 08:00:00,26690.0,26691.1,26672.0,26674.9,693.857,0.507187,0.433265,0.511704,0.445175,0.000000

In [23]:
df = load_data()

In [17]:
from pandas_ta.statistics import zscore, stdev
from pandas_ta.overlap import sma

In [18]:
windows_size = 50
df['feature_z_close'] = zscore(df['close'], length=windows_size )
df['feature_z_open'] = zscore(df['open'], length=windows_size )
df['feature_z_high'] = zscore(df['high'], length=windows_size )
df['feature_z_low'] = zscore(df['low'], length=windows_size )
df['feature_z_volume'] = zscore(df['volume'], length=windows_size )
df['feature_z_std_close'] =stdev(df['close'], length=windows_size)
df['feature_z_mean_close'] =sma(df['close'], length=windows_size)

In [19]:
df.tail()

,open,high,low,close,volume,feature_z_close,feature_z_open,feature_z_high,feature_z_low,feature_z_volume,feature_z_std_close,feature_z_mean_close
time,,,,,,,,,,,,
2023-05-24 07:00:00,26734.2,26734.2,26566.5,26699.9,10417.356,-1.823632,-1.748666,-1.854724,-2.209269,1.006904,193.838475,27053.390
2023-05-24 07:15:00,26700.0,26749.5,26673.3,26747.9,6405.009,-1.502300,-1.823611,-1.680611,-1.606672,0.372340,197.724833,27044.942
2023-05-24 07:30:00,26748.0,26748.0,26669.0,26699.5,3939.648,-1.658180,-1.501826,-1.604926,-1.549118,-0.016013,203.129904,27036.326
2023-05-24 07:45:00,26699.4,26706.8,26650.5,26689.9,3817.344,-1.620292,-1.659102,-1.719592,-1.557118,-0.029499,207.903306,27026.764
2023-05-24 08:00:00,26690.0,26691.1,26672.0,26674.9,693.857,-1.608602,-1.620330,-1.703415,-1.395182,-0.512453,212.584529,27016.864

In [8]:
df['feature_z_close'].max()

5.588263493671831

In [9]:
df['feature_z_close'].min()

-5.361686024013553

In [20]:
df[df['feature_z_close']>5].tail()

,open,high,low,close,volume,feature_z_close,feature_z_open,feature_z_high,feature_z_low,feature_z_volume,feature_z_std_close,feature_z_mean_close
time,,,,,,,,,,,,
2023-04-30 15:30:00,29564.1,29877.0,29564.1,29810.7,31339.389,5.434386,4.967491,5.089775,5.054421,5.333135,102.903622,29251.482
2023-05-02 14:30:00,28004.6,28544.0,28004.6,28484.6,39822.100,5.588263,-0.016333,5.385591,0.620088,6.248140,83.680378,28016.972
2023-05-05 01:45:00,28908.6,29340.0,28908.6,29310.8,29658.870,5.459181,1.169139,5.449480,2.007113,4.164051,86.039282,28841.096
2023-05-20 18:00:00,27017.5,27144.4,26987.2,27130.0,13239.375,5.076672,4.077553,4.806764,3.865079,6.248828,47.716303,26887.760

In [21]:
df[df.index < "2023-05-01 01:30:00"]

,open,high,low,close,volume,feature_z_close,feature_z_open,feature_z_high,feature_z_low,feature_z_volume,feature_z_std_close,feature_z_mean_close
time,,,,,,,,,,,,
2023-04-13 04:15:00,30057.2,30070.0,30029.6,30060.8,1563.938,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2023-04-13 04:30:00,30060.8,30089.5,30047.2,30077.4,1294.678,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2023-04-13 04:45:00,30077.0,30097.0,30033.5,30045.9,1933.793,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2023-04-13 05:00:00,30046.0,30065.7,30031.5,30038.7,1055.751,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2023-04-13 05:15:00,30038.7,30067.0,30025.4,30025.5,1019.455,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
2023-05-01 00:15:00,29223.0,29313.2,29198.2,29280.8,8574.387,-0.803977,-1.086732,-0.808128,-0.974208,0.231698,186.602353,29430.824
2023-05-01 00:30:00,29280.7,29305.0,29252.1,29289.9,3585.558,-0.775681,-0.802064,-0.866948,-0.695084,-0.448052,184.392704,29432.930
2023-05-01 00:45:00,29290.0,29297.5,29268.2,29292.0,2365.554,-0.783260,-0.772693,-0.922917,-0.621744,-0.616178,182.391638,29434.860
2023-05-01 01:00:00,29292.0,29325.5,29271.3,29303.3,2200.431,-0.743536,-0.780752,-0.807453,-0.622087,-0.640190,180.004660,29437.140
2023-05-01 01:15:00,29303.3,29303.3,29226.0,29245.8,2160.645,-1.071139,-0.741025,-0.934238,-0.892801,-0.647995,179.244783,29437.796

In [33]:

def NormalizedScore(df, length=30):
    ll = df['low'].rolling(window=length).min()
    hh = df['high'].rolling(window=length).max()
    vll = df['volume'].rolling(window=length).min()
    vhh = df['volume'].rolling(window=length).max()
    scale = hh - ll
    vscale = vhh - vll

    df['feature_normal_open'] = (df['open'] - ll)/scale
    df['feature_normal_low'] = (df['low'] - ll) / scale
    df['feature_normal_high'] = (df['high'] - ll) / scale
    df['feature_normal_close'] = (df['close'] - ll) / scale
    df['feature_normal_volume'] = (df['volume']-vll)/vscale
    return

In [35]:
df = load_data()
df.tail()

                        open     high      low    close     volume
time
2023-05-24 07:00:00  26734.2  26734.2  26566.5  26699.9  10417.356
2023-05-24 07:15:00  26700.0  26749.5  26673.3  26747.9   6405.009
2023-05-24 07:30:00  26748.0  26748.0  26669.0  26699.5   3939.648
2023-05-24 07:45:00  26699.4  26706.8  26650.5  26689.9   3817.344
2023-05-24 08:00:00  26690.0  26691.1  26672.0  26674.9    693.857

In [36]:
NormalizedScore(df)

In [37]:
df.tail()

,open,high,low,close,volume,feature_normal_open,feature_normal_low,feature_normal_high,feature_normal_close,feature_normal_volume
time,,,,,,,,,,
2023-05-24 07:00:00,26734.2,26734.2,26566.5,26699.9,10417.356,0.249368,0.000000,0.249368,0.198364,0.256739
2023-05-24 07:15:00,26700.0,26749.5,26673.3,26747.9,6405.009,0.206273,0.165019,0.282756,0.280284,0.153919
2023-05-24 07:30:00,26748.0,26748.0,26669.0,26699.5,3939.648,0.280786,0.158571,0.280786,0.205755,0.090741
2023-05-24 07:45:00,26699.4,26706.8,26650.5,26689.9,3817.344,0.206880,0.130760,0.218400,0.192092,0.087607
2023-05-24 08:00:00,26690.0,26691.1,26672.0,26674.9,693.857,0.192248,0.164228,0.193960,0.168742,0.007564

In [38]:
df

,open,high,low,close,volume,feature_normal_open,feature_normal_low,feature_normal_high,feature_normal_close,feature_normal_volume
time,,,,,,,,,,
2023-04-13 04:15:00,30057.2,30070.0,30029.6,30060.8,1563.938,NaN,NaN,NaN,NaN,NaN
2023-04-13 04:30:00,30060.8,30089.5,30047.2,30077.4,1294.678,NaN,NaN,NaN,NaN,NaN
2023-04-13 04:45:00,30077.0,30097.0,30033.5,30045.9,1933.793,NaN,NaN,NaN,NaN,NaN
2023-04-13 05:00:00,30046.0,30065.7,30031.5,30038.7,1055.751,NaN,NaN,NaN,NaN,NaN
2023-04-13 05:15:00,30038.7,30067.0,30025.4,30025.5,1019.455,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
2023-05-24 07:00:00,26734.2,26734.2,26566.5,26699.9,10417.356,0.249368,0.000000,0.249368,0.198364,0.256739
2023-05-24 07:15:00,26700.0,26749.5,26673.3,26747.9,6405.009,0.206273,0.165019,0.282756,0.280284,0.153919
2023-05-24 07:30:00,26748.0,26748.0,26669.0,26699.5,3939.648,0.280786,0.158571,0.280786,0.205755,0.090741
2023-05-24 07:45:00,26699.4,26706.8,26650.5,26689.9,3817.344,0.206880,0.130760,0.218400,0.192092,0.087607
2023-05-24 08:00:00,26690.0,26691.1,26672.0,26674.9,693.857,0.192248,0.164228,0.193960,0.168742,0.007564

In [39]:
df[df.index < "2023-05-01 01:30:00"]

,open,high,low,close,volume,feature_normal_open,feature_normal_low,feature_normal_high,feature_normal_close,feature_normal_volume
time,,,,,,,,,,
2023-04-13 04:15:00,30057.2,30070.0,30029.6,30060.8,1563.938,NaN,NaN,NaN,NaN,NaN
2023-04-13 04:30:00,30060.8,30089.5,30047.2,30077.4,1294.678,NaN,NaN,NaN,NaN,NaN
2023-04-13 04:45:00,30077.0,30097.0,30033.5,30045.9,1933.793,NaN,NaN,NaN,NaN,NaN
2023-04-13 05:00:00,30046.0,30065.7,30031.5,30038.7,1055.751,NaN,NaN,NaN,NaN,NaN
2023-04-13 05:15:00,30038.7,30067.0,30025.4,30025.5,1019.455,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
2023-05-01 00:15:00,29223.0,29313.2,29198.2,29280.8,8574.387,0.115162,0.078405,0.248851,0.200830,0.409471
2023-05-01 00:30:00,29280.7,29305.0,29252.1,29289.9,3585.558,0.200682,0.158293,0.236698,0.214317,0.142553
2023-05-01 00:45:00,29290.0,29297.5,29268.2,29292.0,2365.554,0.214466,0.182155,0.225582,0.217430,0.077279
2023-05-01 01:00:00,29292.0,29325.5,29271.3,29303.3,2200.431,0.217430,0.186750,0.267082,0.234178,0.068444
2023-05-01 01:15:00,29303.3,29303.3,29226.0,29245.8,2160.645,0.259314,0.132447,0.259314,0.164943,0.066316

In [41]:
import pandas as pd

# 创建一个示例数据框
data = {'value': [1, 3, 7, 1, 2, 6, 8, 4, 9, 5]}
df = pd.DataFrame(data)

# 计算到当前数据为止的最大值
df['cum_max'] = df['value'].cummax()
df['cum_min'] = df['value'].cummin()
# 打印结果
print(df)

   value  cum_max  cum_min
0      1        1        1
1      3        3        1
2      7        7        1
3      1        7        1
4      2        7        1
5      6        7        1
6      8        8        1
7      4        8        1
8      9        9        1
9      5        9        1

In [46]:
import numpy as np
def logged_diff(df):
    for column in ["open","close", "high", "low", "volume"]:
        ld =  np.log(df[column]) - np.log(df[column].shift(1))
        cum_max = ld.cummax()
        cum_min = ld.cummin()
        df["feature_logged_diff_" + column] = (ld - cum_min) / (cum_max - cum_min)
    return df

In [47]:
df = load_data()
df.tail()

                        open     high      low    close     volume
time
2023-05-24 07:00:00  26734.2  26734.2  26566.5  26699.9  10417.356
2023-05-24 07:15:00  26700.0  26749.5  26673.3  26747.9   6405.009
2023-05-24 07:30:00  26748.0  26748.0  26669.0  26699.5   3939.648
2023-05-24 07:45:00  26699.4  26706.8  26650.5  26689.9   3817.344
2023-05-24 08:00:00  26690.0  26691.1  26672.0  26674.9    693.857

In [48]:
df = logged_diff(df)
df.tail()

,open,high,low,close,volume,feature_logged_diff_open,feature_logged_diff_close,feature_logged_diff_high,feature_logged_diff_low,feature_logged_diff_volume
time,,,,,,,,,,
2023-05-24 07:00:00,26734.2,26734.2,26566.5,26699.9,10417.356,0.497019,0.471697,0.480607,0.600405,0.667875
2023-05-24 07:15:00,26700.0,26749.5,26673.3,26747.9,6405.009,0.471763,0.525823,0.500475,0.751810,0.340432
2023-05-24 07:30:00,26748.0,26748.0,26669.0,26699.5,3939.648,0.525823,0.462431,0.489946,0.683330,0.340502
2023-05-24 07:45:00,26699.4,26706.8,26650.5,26689.9,3817.344,0.462299,0.487939,0.465049,0.674589,0.419411
2023-05-24 08:00:00,26690.0,26691.1,26672.0,26674.9,693.857,0.488070,0.484379,0.481030,0.699208,0.128831

In [49]:
df.head()

,open,high,low,close,volume,feature_logged_diff_open,feature_logged_diff_close,feature_logged_diff_high,feature_logged_diff_low,feature_logged_diff_volume
time,,,,,,,,,,
2023-04-13 04:15:00,30057.2,30070.0,30029.6,30060.8,1563.938,NaN,NaN,NaN,NaN,NaN
2023-04-13 04:30:00,30060.8,30089.5,30047.2,30077.4,1294.678,NaN,NaN,NaN,NaN,NaN
2023-04-13 04:45:00,30077.0,30097.0,30033.5,30045.9,1933.793,1.000000,0.000000,0.000000,0.000000,1.000000
2023-04-13 05:00:00,30046.0,30065.7,30031.5,30038.7,1055.751,0.000000,0.505144,0.000000,0.373772,0.000000
2023-04-13 05:15:00,30038.7,30067.0,30025.4,30025.5,1019.455,0.502062,0.380220,0.641732,0.242725,0.566591

In [50]:
df

,open,high,low,close,volume,feature_logged_diff_open,feature_logged_diff_close,feature_logged_diff_high,feature_logged_diff_low,feature_logged_diff_volume
time,,,,,,,,,,
2023-04-13 04:15:00,30057.2,30070.0,30029.6,30060.8,1563.938,NaN,NaN,NaN,NaN,NaN
2023-04-13 04:30:00,30060.8,30089.5,30047.2,30077.4,1294.678,NaN,NaN,NaN,NaN,NaN
2023-04-13 04:45:00,30077.0,30097.0,30033.5,30045.9,1933.793,1.000000,0.000000,0.000000,0.000000,1.000000
2023-04-13 05:00:00,30046.0,30065.7,30031.5,30038.7,1055.751,0.000000,0.505144,0.000000,0.373772,0.000000
2023-04-13 05:15:00,30038.7,30067.0,30025.4,30025.5,1019.455,0.502062,0.380220,0.641732,0.242725,0.566591
...,...,...,...,...,...,...,...,...,...,...
2023-05-24 07:00:00,26734.2,26734.2,26566.5,26699.9,10417.356,0.497019,0.471697,0.480607,0.600405,0.667875
2023-05-24 07:15:00,26700.0,26749.5,26673.3,26747.9,6405.009,0.471763,0.525823,0.500475,0.751810,0.340432
2023-05-24 07:30:00,26748.0,26748.0,26669.0,26699.5,3939.648,0.525823,0.462431,0.489946,0.683330,0.340502
2023-05-24 07:45:00,26699.4,26706.8,26650.5,26689.9,3817.344,0.462299,0.487939,0.465049,0.674589,0.419411
2023-05-24 08:00:00,26690.0,26691.1,26672.0,26674.9,693.857,0.488070,0.484379,0.481030,0.699208,0.128831