In [41]:
import pandas as pd

In [42]:
df = pd.DataFrame({
    "time": ["a", "b", "c", "d", "e", "f"],
    "close": [1, 2, 3, 4, 5, 6]
})
df.set_index('time', inplace=True)

In [43]:
d = df.close.diff()

In [45]:
pl = df.close

In [49]:
p = pl.diff().where(pl.diff().notna())

In [48]:
pl.diff().notna()

time
a    False
b     True
c     True
d     True
e     True
f     True
Name: close, dtype: bool

In [50]:
p

time
a    NaN
b    1.0
c    1.0
d    1.0
e    1.0
f    1.0
Name: close, dtype: float64

In [10]:
df.close[2]

3

In [11]:
def test_data():
    df = pd.read_csv(r"D:\rl\alpha-rptr\ohlc\binance_futures\BTCUSDT\['15m']\data.csv", parse_dates=["time"], index_col="time")
    df=df.tz_localize(None)
    df = df.rename(columns={"time": "date"})
    return df

df = test_data()

In [12]:
df

                        open     high      low    close     volume
time
2023-04-13 04:15:00  30057.2  30070.0  30029.6  30060.8   1563.938
2023-04-13 04:30:00  30060.8  30089.5  30047.2  30077.4   1294.678
2023-04-13 04:45:00  30077.0  30097.0  30033.5  30045.9   1933.793
2023-04-13 05:00:00  30046.0  30065.7  30031.5  30038.7   1055.751
2023-04-13 05:15:00  30038.7  30067.0  30025.4  30025.5   1019.455
...                      ...      ...      ...      ...        ...
2023-05-24 07:00:00  26734.2  26734.2  26566.5  26699.9  10417.356
2023-05-24 07:15:00  26700.0  26749.5  26673.3  26747.9   6405.009
2023-05-24 07:30:00  26748.0  26748.0  26669.0  26699.5   3939.648
2023-05-24 07:45:00  26699.4  26706.8  26650.5  26689.9   3817.344
2023-05-24 08:00:00  26690.0  26691.1  26672.0  26674.9    693.857

[3952 rows x 5 columns]

In [16]:
df.iloc[0]["new"] =1

In [18]:
df["new"] = 1

In [19]:
df

                        open     high      low    close     volume  new
time
2023-04-13 04:15:00  30057.2  30070.0  30029.6  30060.8   1563.938    1
2023-04-13 04:30:00  30060.8  30089.5  30047.2  30077.4   1294.678    1
2023-04-13 04:45:00  30077.0  30097.0  30033.5  30045.9   1933.793    1
2023-04-13 05:00:00  30046.0  30065.7  30031.5  30038.7   1055.751    1
2023-04-13 05:15:00  30038.7  30067.0  30025.4  30025.5   1019.455    1
...                      ...      ...      ...      ...        ...  ...
2023-05-24 07:00:00  26734.2  26734.2  26566.5  26699.9  10417.356    1
2023-05-24 07:15:00  26700.0  26749.5  26673.3  26747.9   6405.009    1
2023-05-24 07:30:00  26748.0  26748.0  26669.0  26699.5   3939.648    1
2023-05-24 07:45:00  26699.4  26706.8  26650.5  26689.9   3817.344    1
2023-05-24 08:00:00  26690.0  26691.1  26672.0  26674.9    693.857    1

[3952 rows x 6 columns]

C:\Users\zhouyi\AppData\Local\Temp\ipykernel_18296\1508928237.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  x[2] = 1

time
2023-04-13 04:15:00    1
2023-04-13 04:30:00    1
2023-04-13 04:45:00    1
2023-04-13 05:00:00    1
2023-04-13 05:15:00    1
                      ..
2023-05-24 07:00:00    1
2023-05-24 07:15:00    1
2023-05-24 07:30:00    1
2023-05-24 07:45:00    1
2023-05-24 08:00:00    1
Name: new, Length: 3952, dtype: int64

In [40]:
df.iloc[0,5] = 2

In [37]:
df.iloc[1]['new'] = 2

C:\Users\zhouyi\AppData\Local\Temp\ipykernel_18296\3817396323.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.iloc[1]['new'] = 2

In [39]:
df.iloc[0]

open      30057.200
high      30070.000
low       30029.600
close     30060.800
volume     1563.938
new           2.000
Name: 2023-04-13 04:15:00, dtype: float64